:root {
    font-size: 16px;
    --list-color-0: #ffffff;
    --list-color-1: #ffeb3b;
    --list-color-2: #aeea00;
    --list-color-3: #80deea;
    --list-color-4: #ff80ab;
    --list-color-5: #ff9e00;
    --bg-color-0: #ffffff;
    --bg-color-1: #ffeb3b11;
    --bg-color-2: #aeea0011;
    --bg-color-3: #80deea11;
    --bg-color-4: #ff80ab11;
    --bg-color-5: #ff9e0011;
    --app-font: 'Open Sans', 'Calibri', sans-serif;
}

html {
    min-height: 100vh;
}

body {
    min-height: 100vh;
    margin:0;
    font-family: var(--app-font);
}

h1 {
    font-size:3rem;
    font-weight: bold;
}

h2 {
    font-size:2.2rem;
    font-weight: bold;
}

h3 {
    font-size:1.8rem;
    font-weight: bold;
}

h4 {
    font-size:1.5rem;
    font-weight: bold;
}

h5 {
    font-size:1.2rem;
    font-weight: bold;
}

h6 {
    font-size:1rem;
    font-weight: bold;
}

p {
    line-height: 1.2rem;
}



/* grid layout setup */

#master-grid {
    display:grid;
    gap:0;
    min-height: 100vh;
    grid-template-areas: 
        "lists content item-details";
    grid-template-columns: 1fr 3fr 1fr;
}

@media screen and (max-width:1024px) {
    #master-grid {
        display:grid;
        gap:0;
        grid-template-areas: 
            "lists item-details"
            "lists content";
        grid-template-columns: 1fr 3fr;
        grid-template-rows: min-content max-content;
    }
}

#logo-div-container {
    grid-area: logo;
    position:sticky;
}

#lists-nav {
    grid-area: lists;
}

#lists-detail-container {
    grid-area: list-details;
}

#content-container {
    grid-area: content;
}

#details-container {
    grid-area: item-details;
}


/* lists-nav styling */

#logo-div-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:16px;
    padding:24px;

    & .logo-circle {
        width:60px;
        height:60px;
        border-radius: 100%;
        background-color: rgb(147, 163, 234);
        border:2px solid rgb(82, 82, 82);
    }
}

#lists-nav {
    display:flex;
    flex-direction: column;
    background-color: rgb(237, 237, 237);
    color:black;
    border-right:2px solid rgb(111, 111, 111);
        
    & #add-list-container {
        align-self: center;
        width:80%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;

        & .add-list-separator {
            height:1px;
            background-color: rgb(134, 134, 134);
            width:40%;
            border-radius: 8px;
        }

        & .add-list-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            
            width:20px;
            height:20px;
            border-radius: 100%;
            background-color: rgb(94, 94, 94);
            color:white;
            border: 1px solid black;
            transition: 0.2s;
        }

        & .add-list-btn:hover {
            background-color: black;
        }
    }
}

#user-lists {
    display:flex;
    flex-direction: column;
    margin: 24px 16px 58px 16px;
    gap: 8px;
}

.list-row {
    display:flex;
    align-items: center;
    padding: 4px;
    font-size:0.8rem;
    gap:6px;
    color:black;
    border-radius: 16px;
}

& .list-row:hover {
    background-color: white;
    transition: 0.1s;
}

.list-circle {
    width:10px;
    height:10px;
    background-color: var(--list-color-1);
    border: 1px solid rgb(181, 181, 181);
    border-radius:100%;
}

/* .list-name {

} */

.list-date {
    color: gray;
    font-style:italic;
}


#selected-list-detail {
    display:flex;
    flex-direction: column;
    align-self:center;
    width:90%;
    gap:8px;
    border-top:1px solid rgb(134, 134, 134);
    padding: 16px 0;
    /* background-color: white; */
    font-size:0.8rem;
    flex: 1 0 auto;
}

#selected-list-detail > h6 {
    align-self:center;
    margin-bottom:16px;
}


/* Content styling */


#content-container {
    display:flex;
    flex-direction:column;
    padding:24px;
    gap:24px;
    align-items:stretch;
    /* height: max-content; */
    /* width: min(600px, 90%); */
    /* width: 600px; */
    /* margin-right:260px; */
    background-color: var(--bg-color-0);
}

.list-title {
    font-size:3rem;
    font-weight:bold;
    border:none;
    appearance: none;
    line-height: 4rem;
    padding: 0 0 0 10px;
    margin: 0 0 0 -10px;
    background-color: transparent;
    font-family: var(--app-font);
    overflow: hidden;
    resize:none;
}

.list-title:focus-visible {
    text-decoration: solid underline rgb(163, 163, 163) 2px; 
    text-underline-offset: 0.7rem;
    outline: none;
}

.list-description {
    width: min(600px, 100%);
    resize:none;
    overflow: hidden;
    border:none;
    font-family: var(--app-font);
    margin-left:-16px;
    background:transparent;
    border: 2px solid transparent;
    border-radius: 24px;
    padding: 16px 16px 0 16px;
}

.list-description:focus-visible {
    outline:none;
    border:2px solid rgb(163, 163, 163);
    background-color: white;
}

.add-item-container {
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    align-self: flex-start;

    & button {
        width:1.4rem;
        height:1.4rem;
    }

    & h4 {
        font-size: 1.4rem;
    }
}

.items-container {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap:8px;
    position:relative;

    & .item-circle {
        width: 1.6rem;
        height: 1.6rem;
        display:flex;
        justify-content: center;
        align-items:center;
        position: relative;

        & > svg {
            width: 100%;
            height: 100%;
            position:absolute;
            top:0;
            right:0;
            bottom:0;
            left:0;
            z-index:5
        }

        & > svg.itemCompleted > g {
            animation-name: itemCompleted;
            animation-duration: 0.15s;
            animation-fill-mode: forwards;
        }

        & svg:hover > circle {
            stroke:#000000;
        }
    }

    & .item-row {
        display:flex;
        align-items: center;
        gap:8px;
        border-radius: 16px;
        padding:4px;
        user-select: none;
        position: relative;
        z-index: 10;
    }

    /* We need to set the z-index higher than the dropzones here,
    so that if the user starts a drag, the dropzones will not cover
    the element and prevent that drag. The higher hover z-index means
    that the element is already in front of the dropzone before
    the drag is started, which fixed this problem. */
    & .item-row:hover {
        background-color: rgb(238, 238, 238);
        transition: 0.1s;
        z-index: 100;
    }

    & .item-completeby {
        color: rgb(126, 126, 126);
    }

    & .dropzone {
        position:relative;
        width:min(100%, 300px);
        height:2.8rem;
        margin: -1.6rem 0 -1.6rem 2rem;
        /* background-color: rgba(146, 146, 146, 0.38); */
        z-index:1;
        visibility:hidden;
        display:flex;
        flex-direction: column;
        justify-content: center;

        & > .dropzone-bar {
            display:block;
            width: 100%;
            height:4px;
            border-radius: 4px;
            background-color: transparent;
            pointer-events: none;
            transition: 0.3s;
        }
    }

    & .show-dropzones {
        visibility: visible;
        z-index: 50;
    }
}

@keyframes itemCompleted {
    from {transform:scale(0);}
    to {transform: scale(1);}
}

/* Item-row draggin styling */

.mid-drag {
    opacity: 0.5;
    z-index: 100;
}

.dropzone.dropzone-feedback > .dropzone-bar {
    background-color: rgb(109, 109, 109);

}






.bottom-container {
    display:flex;
    justify-self: flex-end;
    margin: 0 0 24px 0;
    gap: 24px;
    align-items: flex-end;

    & .pick-color-container {
        display:flex;
        flex-direction: column;
        gap: 8px;
    }

    & .color-circles-container {
        display:flex;
        gap: 24px;
    }

    & .color-circle {
        width:20px;
        height:20px;
        border-radius:100%;
        border: 2px solid rgb(138, 138, 138);
        display:flex;
        justify-content: center;
        align-items: center;
        color: black;
        font-weight: bold;
    }

    & .color-circle:hover {
        border-color: black;
    }

    & .color-circle:nth-child(1) {
        background-color: var(--list-color-0);
    }

    & .color-circle:nth-child(2) {
        background-color: var(--list-color-1);
    }

    & .color-circle:nth-child(3) {
        background-color: var(--list-color-2);
    }

    & .color-circle:nth-child(4) {
        background-color: var(--list-color-3);
    }

    & .color-circle:nth-child(5) {
        background-color: var(--list-color-4);
    }

    & .color-circle:nth-child(6) {
        background-color: var(--list-color-5);
    }

    & .delete-list-btn {
        margin-left:72px;
        border-radius: 24px;
        border:none;
        background:rgb(109, 0, 0);
        color:white;
        font-weight: bold;
        padding:8px 16px;
        transition: 0.2s;
    }

    & .delete-list-btn:hover {
        background-color: rgb(44, 0, 0);
    }
}






/* right side styling */

#details-container {
    /* position:sticky; */
    /* height:100vh; */
    /* z-index:150; */
    /* top:0;
    bottom:0; */
    

    background: linear-gradient(323deg, rgba(36,93,145,1) 0%, rgba(48,142,228,1) 100%);
    color:white;
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    padding: 16px;
    gap: 16px;

    & .title {
        filter:drop-shadow(1px 1px 1px #000000);
        margin: 0 0 16px 0;
    }


}

#right-content-box {
    display:flex;
    flex-direction: column;
    width:100%;
    font-size: 0.8rem;
    gap:20px;

    & .add-item-top-row {
        display:flex;
        flex-direction: column;
        align-items: stretch;
    }

    & #add-item-title {
        resize:none;
        overflow:hidden;
        font-family: var(--app-font);
        border:none;
        border-radius: 12px;
        color: black;
        display:flex;
        padding: 4px 8px 0 8px;
        background-color: rgb(215, 231, 247);
    }

    & #add-item-title:focus-visible {
        outline:none;
    }

    & .add-item-top-row > label {
        text-align: center;
        margin-top:4px;
    }

    & .select-completeby-container > input {
        margin: 4px 0 0 0;
        font-family: var(--app-font);
    }

    & .add-item-description-container {
        display:flex;
        flex-direction: column;
        gap:4px;
    }

    & #add-item-description {
        resize:none;
        overflow:hidden;
        font-family: var(--app-font);
        border:none;
        border-radius: 2px;
        color: black;
        display:flex;
        padding: 4px 8px 0 8px;
        background-color: rgb(215, 231, 247);
    }

    & #add-item-description:focus-visible {
        outline:none;
    }

    & .add-item-button-row {
        display:flex;
        gap: 16px;
    }

    & .add-item-button-row > button {
        border-radius: 24px;
        padding: 8px 16px;
        font-size:0.8rem;
        border:none;
        font-weight: bold;
        transition: 0.2s;
    }

    & .add-button {
        background-color: rgb(217, 217, 217);
    }

    & .close-button {
        background-color: rgb(109, 0, 0);
        color:white;
    }

    & .add-button:hover {
        background-color: rgb(166, 166, 166);
    }

    & .close-button:hover {
        background-color: rgb(44, 0, 0);
    }
}